<div>
    <!--Navigation-->
    <!--<div ng-include="'app/views/NavigationView.html'"></div>-->
    <!--Page Content-->
    <div>
        <h2>Map View</h2>
        <div class="row-fluid">
            <div class="span12">
                <!--Map-->
                <div id="map" class="map">

                </div>
                <div id="marker" title="Marker"></div>
                <!--Pop up on map-->
                <div class="popup-container">
                    <div id="popup" class="ol-popup">
                        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                        <div id="popup-content"></div>
                    </div>
                </div>
                <div>
                    <h3>Location from mobile + {{status}}</h3>
                    <p>Longitude: {{longitude}}</p>
                    <p>Latitude: {{latitude}}</p>
                    <p>Heading: {{heading}} deg</p>
                </div>
            </div>
        </div>
    </div>
</div>