<div>
    {{viewTitle}}
    <div id="section">
        <ul class="nav nav-tabs">
            <li role="presentation" data-toggle="tab" class="active" ng-click="onTabClicked('driver')"><a href="#app/driver">Drivers</a></li>
            <li role="presentation" data-toggle="tab" class="active" ng-click="onTabClicked('vehicle')"><a href="#app/vehicle">Vehicles</a></li>
            <li role="presentation" data-toggle="tab" ng-click="onTabClicked('map')"><a href="#app/map">Map</a></li>
            <li role="presentation" data-toggle="tab" ng-click="onTabClicked('message')"><a href="#app/message">Messages</a></li>
          
        </ul>
    </div>

</div>