<div>
    <!--Navigation-->
    <!--<div ng-include="'app/views/NavigationView.html'"></div>-->
    <!--Page Content-->
    <div class="panel panel-default content-panel">
        <div class="content-panel-heading"><p>Vehicles' List</p></div>
        <div class="panel-body">
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Registration number</th>
                            <th>Driver</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Passenger seat number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vehicle in vehicles" selection-model>
                            <td>{{$index+1}}</td>
                            <td>{{vehicle.id_registration_number}}</td>
                            <td>{{vehicle.driver.first_name + " " + vehicle.driver.last_name}}</td>
                            <td>{{vehicle.make}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.passenger_seat_number}}</td>
                            <td>
                                <button type="button" class="btn-edit" ng-click="onShowEditDialog($index)">Edit</button>
                                <button type="button" class="btn-delete" ng-click="onShowRemoveDialog($index)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Control buttons-->
            <div>
                <button type="button" class="btn-add" ng-click="onShowAddDialog('add')">Add</button>
            </div>
        </div>
        
    </div>
            
            <!--Modal Edit Dialog-->
            <div class="modal fade" id="editModalDialog" role="dialog">
                <div class="modal-dialog">
                    <!--Edit modal dialog content-->
                    <div class="modal-content">
                        <!--Modal Header-->
                        <div class="modal-header">
                            <!--X button top-right-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enter new details of the vehicle with reg.number of </h4>
                        </div>
                        <!--Modal Body-->
                        <div class="modal-body">
                            <!--Registration number-->
                            <div class="form-group">
                                <label for="editRegistrationNumberId">Registration number</label>
                                <p class="form-control-static" id="editRegistrationNumberId"></p>
                            </div>
                            <!--Make-->
                            <div class="form-group">
                                <label for="editMakeId">Vehicle make</label>
                                <input type="text" class="form-control" id="editMakeId" placeholder="Vehicle make">
                            </div>
                            <!--Model -->
                            <div class="form-group">
                                <label for="editModelId">Vehicle model</label>
                                <input type="text" class="form-control" id="editModelId" placeholder="Vehicle model">
                            </div>
                            <!--Passenger seat-->
                            <div class="form-group">
                                <label for="editPassengerSeatId">Passenger Seat number</label>
                                <input type="text" class="form-control" id="editPassengerSeatId" placeholder="Passenger Seat number">
                            </div>
                            <!--Driver-->
                            <label for="editDriverId">Driver</label>
                            <div class="dropdown" id="editDriverId">
                                <button class="btn btn-default" data-toggle="dropdown"><span id="editDropdownTitle">Choose a driver for this vehicle</span><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="editDriverId">
                                    <li ng-repeat="driver in drivers">
                                        <a ng-click="onDropdownMenuSelected($index, 'edit')">{{driver.first_name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Modal Footer-->
                        <div class="modal-footer">
                            <!-- Save Changes Button -->
                            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="onSaveChangesButtonClicked('')">Save Changes</button>
                            <!-- Cancel Button -->
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Add Dialog-->
            <div class="modal fade" id="addModalDialog" role="dialog">
                <div class="modal-dialog">
                    <!--Add modal dialog content-->
                    <div class="modal-content">
                        <!--Modal Header-->
                        <div class="modal-header">
                            <!--Dismiss (X) button on top-right-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enter a new driver details</h4>
                        </div>
                        <!--Modal Body-->
                        <div class="modal-body">
                            <!--Registration number-->
                            <div class="form-group">
                                <label for="registrationNumberId">Registration number</label>
                                <input type="text" class="form-control" id="addRegistrationNumberId" placeholder="Registration number">
                            </div>
                            <!--Make-->
                            <div class="form-group">
                                <label for="makeId">Vehicle make</label>
                                <input type="text" class="form-control" id="addMakeId" placeholder="Vehicle make">
                            </div>
                            <!--Model -->
                            <div class="form-group">
                                <label for="modelId">Vehicle model</label>
                                <input type="text" class="form-control" id="addModelId" placeholder="Vehicle model">
                            </div>
                            <!--Passenger seat-->
                            <div class="form-group">
                                <label for="passengerSeatId">Passenger Seat number</label>
                                <input type="text" class="form-control" id="addPassengerSeatId" placeholder="Passenger Seat number">
                            </div>
                            <!--Driver-->
                            <label for="addDriverId">Driver</label>
                            <div class="dropdown" id="driverId">
                                <button class="btn btn-default" data-toggle="dropdown"><span id="addDropdownTitle">Choose a driver for this vehicle</span><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="addDriverId">
                                    <li ng-repeat="driver in drivers">
                                        <a ng-click="onDropdownMenuSelected($index, 'add')">{{driver.first_name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Modal Footer-->
                        <div class="modal-footer">
                            <!--Add button-->
                            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="onAddButtonClicked('')">Add</button>
                            <!--Close dialog button-->
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Remove Alert Dialog-->
            <div class="modal fade" id="removeModalDialog" role="dialog">
                <div class="modal-dialog">
                    <!--Add modal dialog content-->
                    <div class="modal-content">
                        <!--Modal Header-->
                        <div class="modal-header">
                            <!--Dismiss (X) button on top-right-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Do you really want to remove this vehicle?</h4>
                        </div>
                        <!--Modal Body-->
                        <div class="modal-body">
                            <!--Registration number-->
                            <div class="form-group">
                                <label for="registrationNumberId">Registration number</label>
                                <p class="form-control-static" id="removeRegistrationNumberId"></p>
                            </div>
                            <!--Make-->
                            <div class="form-group">
                                <label for="makeId">Vehicle make</label>
                                <p class="form-control-static" id="removeMakeId"></p>
                            </div>
                            <!--Model -->
                            <div class="form-group">
                                <label for="modelId">Vehicle model</label>
                                <p class="form-control-static" id="removeModelId"></p>
                            </div>
                            <!--Passenger seat-->
                            <div class="form-group">
                                <label for="passengerSeatId">Passenger Seat number</label>
                                <p class="form-control-static" id="removePassengerSeatId"></p>
                            </div>
                        </div>
                        <!-- Modal Footer-->
                        <div class="modal-footer">
                            <!--Add button-->
                            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="onRemoveButtonClicked('')">Remove</button>
                            <!--Close dialog button-->
                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>



</div>